html{
    height: 100%;
    overflow: auto;
}

body {
    height: auto !important;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 40px;
}

#main {
    overflow: auto;
    margn-bottom: 40px;
}

#footer {
    position: absolute;
    botton: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: #EEE;
    text-align: center;
}

h1,h2,h3,h4,h5,h6,.brand {
    font-family: 'Hoefler Text', Baskerville, Times, Georgia, 'Times New Roman', serif;
    font-weight: normal;
}

.note {
    color: #777;
    font-style: italic;
    font-family: Baskerville, serif;
    font-size: 15px;
}

.note h1,
.note h2,
.note h3,
.note h4,
.note h5,
.note h6 {
    font-size: 15px;
    margin: 20px 0 0;
}

.hero-unit h1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.backgrid-container {
    height: 300px;
}

.CodeMirror {
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #eaeaea;
}

.CodeMirror-scroll {
    height: auto;
    max-height: 300px;
}

@media (max-width: 767px) {

    .navbar.navbar-fixed-top {
        margin-left: 0;
        margin-right: 0;
    }

    .hero-unit h1 {
        font-size: 48px;
        margin-top: 0;
        margin-bottom: 20px;
    }
}
