/* Sticky Footer Solution by Steve Hatcher http://stever.ca
   http://www.cssstickyfooter.com */

/* * { */
/*     margin: 0; */
/*     padding: 0; */
/* } */

/* must declare 0 margins on everything, also for main layout components use
   padding, not vertical margins (top and bottom) to add spacing, else those
   margins get added to total height and your footer gets pushed down a bit
   more, creating vertical scroll bars in the browser */

html, body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 40px; /* must be same height as the footer */
}

#footer {
    position: relative;
    margin-top: -40px; /* negative value of footer height */
    height: 40px;
    clear: both;
    background-color: #EEE;
    text-align: center;
}

/*Opera Fix*/
body:before {
    /* thanks to Maleika (Kohoutec)*/
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
/* thank you Erik J -negate effect of float*/
}

h1,h2,h3,h4,h5,h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    padding-top: 40px;
}

.prettyprint {
    max-height: 340px;
    overflow-x: scroll;
    word-wrap: normal;
    white-space: pre;
}

@media (max-width: 767px) {

    .navbar.navbar-fixed-top {
        margin-left: 0;
        margin-right: 0;
    }

    .hero-unit h1 {
        font-size: 40px;
        margin-bottom: 40px;
    }
}

