/* Sticky Footer Solution by Steve Hatcher http://stever.ca
   http://www.cssstickyfooter.com */

/* * { */
/*     margin: 0; */
/*     padding: 0; */
/* } */

/* must declare 0 margins on everything, also for main layout components use
   padding, not vertical margins (top and bottom) to add spacing, else those
   margins get added to total height and your footer gets pushed down a bit
   more, creating vertical scroll bars in the browser */

html, body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 40px; /* must be same height as the footer */
}

#footer {
    position: relative;
    margin-top: -40px; /* negative value of footer height */
    height: 40px;
    clear: both;
    text-align: center;
    background-color: #EEE;
}

/*Opera Fix*/
body:before {
    /* thanks to Maleika (Kohoutec)*/
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
/* thank you Erik J -negate effect of float*/
}



/* IMPORTANT

You also need to include this conditional style in the <head> of your HTML file
to feed this style to IE 6 and lower and 8 and higher.

<!--[if !IE 7]> <style type="text/css"> #wrap {display:table;height:100%}
</style> <![endif]-->

*/

h1,h2,h3,h4,h5,h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    padding-top: 40px;
}

.prettyprint {
    overflow-x: scroll;
    word-wrap: normal;
    white-space: pre;
}

.visible-desktop {
    display: initial !important;
}

@media (max-width: 767px) {

    .visible-desktop {
        display: none !important;
    }

    .navbar.navbar-fixed-top {
        margin-left: 0;
        margin-right: 0;
    }

    .hero-unit h1 {
        font-size: 40px;
        margin-bottom: 40px;
    }
}

